/* Style the tab */
.tab {
	overflow: hidden;
	background-color: #111216;
    position: sticky;
    position:-webkit-sticky;
    left: 0px;
    top: 0px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
    color:white;
    font-size: 20;
	padding: 16px 16px;
	transition: 0.3s;
    font-size: 16px;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #363d47;
}

/* Create an active/current tablink class */
.tab button.active {
	background-color: #4b5564;
}
