.tab {
	overflow: hidden;
	background-color: #111216;
    position: sticky;
    position:-webkit-sticky;
    left: 0px;
    top: 0px;
	z-index: 100;
}

.tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
    color:white;
    font-size: 20;
	padding: 16px 16px;
	transition: 0.3s;
    font-size: 16px;
}

.tab button:hover {
	background-color: #363d47;
}

.tab button.active {
	background-color: #4b5564;
}
