.App-header {
  min-height: 100vh;
  display: flex;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.icon-button {
    color:white;
    margin-left: 2px;
    margin-right: 2px;
}

.icon-button:hover {
    fill:gray;
}

.centered-button {
    color:white;
}

.centered-button:hover {
    fill:gray;
}

.label {
    user-select: none;
    margin-left: 5px;
}

option:disabled{
    background-color:#39414d;
    color:#556074;
}

p {
    font-size: 18px;
    white-space: pre-line;
    margin: 0px;
}

a {
    font-size: 18px;
    color: #bebdb2;
}

h1 {
    font-size: 48px;
    text-align: center;
    color: #a2a1a7;
    margin: 0px;
}

h2 {
    font-size: 35px;
    text-align: center;
    color: #a2a1a7;
    margin: 0px;
}

h4 {
    font-size: 26px;
    text-align: center;
    color: #a2a1a7;
    margin: 0px;
}

img {
    vertical-align: middle;
}
